<h2>BlackJack</h2>
<h4>Welcome <%= session[:player_name] %></h4>

<!--<img src ="/images/cards/cover.jpg">-->

<div class = "well">
  <h4>The dealers cards are:</h4>
  <% session[:dealer_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
  <p>
  <% if @show_dealer_card_buttons %>
  <form id="dealer_hit_form" action="/game/dealer/hit" method='post'>
    <input type="submit" class="btn btn-primary" value="Click to see dealer's next card -->" />
  </form>
<% end %>
</div>
Dealers total is <%= calculate_total(session[:dealer_cards]) %>
<p>

<div class = "well">
  <h4><%= session[:player_name] %> cards are:</h4>
  <% session[:player_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
</div>

<%= session[:player_name] %>'s total is <%= calculate_total(session[:player_cards]) %>

<p>
<% if @show_hit_or_stay_buttons %>
  What would <%= session[:player_name] %> like to do?
  <form id="hit_form" action="/game/player/hit" method='post'>
    <input type="submit" class="btn btn-success" value="Hit" />
  </form>
  <form id="stay_form" action='/game/player/stay' method='post'>
    <input type="submit" class="btn btn-warning" value="Stay" />
  </form>
<% end %>
